.textField {
    -fx-background-color: #FFFFFFF0;
    -fx-background-radius: 6px;
    -fx-border-radius: 8px;
    -fx-text-fill: #000000;
}

.textField:hover {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8px;
}

.signInButton {
    -fx-background-color:  #828FC4;
    -fx-background-radius: 6px;
    -fx-border-radius: 8px;
    -fx-text-fill: #FFF;
    cursor: pointer;
    -fx-transition: -fx-background-color 2s, -fx-background-radius 2s, transform 2s;
}

.signInButton:hover {
    -fx-background-color: #49599a;
    -fx-background-radius: 8px;
}

.signUpButton {
    -fx-background-color:  #ACB5D7;
    -fx-background-radius: 6px;
    -fx-border-radius: 8px;
    -fx-text-fill: #000;
    cursor: pointer;
    transition: -fx-background-color 2s, -fx-background-radius 2s, transform 2s;
}

.signUpButton:hover {
    -fx-background-color: #C4CAE8;
    -fx-background-radius: 8px;
}

.contactUsButton {
    -fx-background-color: rgba(194, 201, 205, 0);
    -fx-background-radius: 6px;
    -fx-border-radius: 8px;
    -fx-text-fill: #000;
    cursor: hand;
}

.contactUsButton:hover {
    -fx-background-color: rgba(194, 201, 205, 0.6);
    -fx-background-radius: 8px;
    cursor: hand;
}

.cancelButton {
    -fx-background-color: rgba(194, 201, 205, 0);

    cursor: hand;
}

.cancelButton:hover {
    -fx-background-color: #ffcdd2;
    -fx-background-radius: 8px;
}